Source: tuquito-meta
Section: admin
Priority: optional
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: tuquito-meta-codecs
Architecture: any
Depends: gstreamer0.10-esd, gstreamer0.10-ffmpeg, gstreamer0.10-pitfdll [i386], gstreamer0.10-plugins-bad, gstreamer0.10-plugins-bad-multiverse, gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-ugly-multiverse, libdvdcss2, libdvdnav4, libdvdread4, cabextract, gecko-mediaplayer, totem-xine, unrar, flashplugin-nonfree, unshield, w32codecs [i386], w64codecs [amd64]
Description: All the packages required for multimedia support in Tuquito.
 All the packages required for multimedia support in Tuquito.

Package: tuquito-meta-gnome-dvd
Architecture: all
Depends: aptito, tuquito-meta-gnome, tuquito-meta-codecs, banshee, garfio, gnome-brave-icon-theme, gedit-plugins, giver, gimp, libreoffice-help-es, libX11-dev, nautilus-share, openoffice.org-base, samba, samba-common-bin, smbclient, shiki-colors, shiki-colors-metacity-theme, gnome-colors, ttf-dejavu, ttf-dejavu-extra, ttf-wqy-microhei, vlc, cheese, emesene, gnome-do, gnome-do-plugins, gnome-phone-manager, gwibber, gtk-recordmydesktop, gucharmap, jdownloader, language-support-writing-pt, language-pack-gnome-pt, myspell-es, myspell-pt, nautilus-share, mozilla-plugin-vlc, pitivi, gthumb, sun-java6-jre, sun-java6-plugin, sun-java6-fonts, transmission-gtk, ttf-mscorefonts-installer, simple-scan, shutter, unace, vino, vinagre, wine, gnome-exe-thumbnailer, wspanish, wportuguese, rar, unace, p7zip-full, p7zip-rar, sharutils, mpack, lha, arj
Description: Set of packages included in the DVD edition of Tuquito
 Set of packages included in the DVD edition of Tuquito.

Package: tuquito-meta-gnome
Architecture: all
Conflicts: tuquito-meta-main, tuquito-meta-x64
Replaces: tuquito-meta-main, tuquito-meta-x64
Depends: tuquito-meta-gnome-base, tuquito-control-parental, tuquito-wia, tuquito-wifi, gnome-screensaver, nautilus-actions, nautilus-open-terminal, p7zip, pidgin, pidgin-facebookchat, language-support-writing-es, language-pack-gnome-es, xchat, xchat-common
Description: Set of packages common to all Gnome-based editions of Tuquito
 Set of packages common to all Gnome-based editions of Tuquito.


Package: tuquito-meta-gnome-base
Architecture: all
Depends: tuquito-meta-core, synaptic, tuquito-software-manager, trss, tuquito-bienvenida, tuquito-control-center, tuquito-update, tuquito-wallpapers, compiz-check, dmz-cursor-theme, gucharmap, gnome-terminal, gnome-utils, file-roller, gedit, gcalctool, gdebi, grub2-theme-tuquito, gnome-disk-utility, hardinfo, nvidia-common, tuquito-artwork-gnome, nautilus-gksu, nautilus-wallpaper, ndisgtk, ndiswrapper-common, ndiswrapper-utils-1.9, pppoe, pulseaudio-module-zeroconf, software-properties-gtk, startupmanager, ttf-ubuntu-font-family, ttf-droid, ttf-liberation, usb-creator-gtk, xdg-user-dirs, xdg-user-dirs-gtk, plymouth-theme-tuquito
Description: Set of packages common to all Gnome-based editions of Tuquito Base
 Set of packages common to all Gnome-based editions of Tuquito Base.

Package: tuquito-meta-core
Architecture: all
Depends: ubuntu-minimal, anacron, binfmt-support, binutils, ghostscript-x, gsfonts-x11, policykit-1, policykit-desktop-privileges, pxljr, avahi-autoipd, avahi-daemon, avahi-utils, nano, tuquito-info-gnome | tuquito-info, tuquito-system, ubuntu-system-adjustments, add-apt-key, cups-pdf
Description: Core Tuquito packages
 Core Tuquito packages
